*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
    text-align: center;
    margin-bottom: 2rem;
  }
h1{
    text-align: center;
    padding-top: 50px;
    letter-spacing: 2px;
    font-family: sans-serif;
    /* border-bottom: 5px solid gold; */
    padding-bottom: 10px;
}
.underline{
    width: 5rem;
    height: 0.25rem;
    background-color: gold;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
button{
    background: transparent;
    border-color: gold;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    padding: 0.375rem 0.75rem;
    color: gold;
    cursor: pointer;
    transition: 0.25rem;
}
button:hover{
    background-color: gold;
    color: white;
}
.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}
.menu-item{
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}
.photo{
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid gold;
    border-radius: 0.5rem;
}
.item-info header{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted grey;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 10px;
}
.item-info h4{
    margin-bottom: 0.5rem;
}
.price{
    color: gold;
    letter-spacing: 4px;
}
.item-text{
    margin-bottom: 0;
  padding-top: 1rem;
    font-size: large;
    color: gray;
}
@media screen and (min-width:768px) {
    .menu-item{
        grid-template-columns: 225px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }
    .photo{
        height: 175px;
    }
}
@media screen and (min-width: 1200px) {
    .section-center {
      width: 95vw;
      grid-template-columns: 1fr 1fr;
    }
    .photo {
      height: 150px;
    }
  }